@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Londrina+Solid:wght@100;300;400;900&family=Rampart+One&family=Slackey&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--black: #1b1212;
	--color-1: #f37721;
	--color-2: #068646;
	--color-3: #fee8d2;
	--grey: #e7eff2;
	--white: #fff;
	--grey-2: 231, 239, 242;
}

html {
	font-size: 16px;
	font-family: "Inter Tight", sans-serif;
	color: var(--black);
}


/* On enlève les bullets */
ul {
	list-style: none;
	padding-left: 0;
}

/* On enlève le style italique */
address {
	font-style: normal;
}


/* TYPOGRAPHIES
/* ========================================================================== */

h1,
h2,
h3,
h4 {
	font-family: "Londrina Solid", serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 10px;
}

/* Ligne sous titres sauf sur la page d'accueil */
h1:not(.hero div h1)::after {
	content: '';
	display: block;
	width: 80px;
	height: 10px;
	background-color: var(--color-3);
	margin-top: 15px;
}

h1 {
	font-size: 4rem;
	color: #fee8d2;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--color-3);
}


/* CONTENEURS
/* ========================================================================== */

.container {
	width: 90%;
	max-width: 1200px;
	padding: 1%;
	margin: 0 auto;
}

footer .container,
main .container {
	padding: 5% 1%;
}

footer a {
	color: var(--color-3);
}

/* EN-TËTES & NAVIGATION
/* ========================================================================== */

nav ul li {
	padding: 10px;
	display: block;
}

nav ul li a {
	color: var(--color-1);
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 30px;
	background: var(--white);
	padding: 1rem;
	transition: background-color 0.5s ease-in-out;

}

nav ul li:last-child a {
	border-radius: 30px;
	border: var(--color-1) 1px solid;
}

nav ul li a:hover {
	border-radius: 30px;
	background: var(--color-1);

}

.active {
	border-radius: 30px;
	background: var(--color-1);
	color: var(--color-3);

}

/* Fil d'arianne*/
.breadcrumb ol {
	padding-left: 0;
}

.breadcrumb ol li {
	font-size: 0.8rem;
	padding-left: 0;
	list-style: none;
	display: inline-block;
}

.breadcrumb ol li a:hover {
	color: var(--color-2);
}

.breadcrumb a {
	display: block;
	color: var(--color-3);
	text-decoration: none;
}


/* PIED DE PAGE
/* ========================================================================== */

footer {
	margin: 0;
	background: var(--color-2);
}

footer .container {
	padding: 5% 1%;
	color: var(--white);
	font-size: 18px;
}


/* SECTIONS
/* ========================================================================== */

/* Section hero */
section.hero {
	background-color: var(--color-1);

	height: 90vh;
}

section.hero .container {
	height: 100%;
	color: white;
	display: grid;
	align-items: center;
	grid-template-columns: 60% 40%;
	gap: 2rem;

}

.hero div h1 {
	font-size: 5.5rem;
	margin: 10px 0 10px 0;
}


/**section menu*/

.menu p.price {
	font-family: "Londrina Solid", serif;
	font-size: 3rem;
	text-align: center;
	font-weight: 400;
	font-style: normal;
}

/* Video */
section.video {
	background-color: var(--color-1);
}


/* Section à propos */
.about {
	display: flex;
	flex-direction: row;
	gap: 3%;
	justify-content: space-between;
	align-items: stretch;
}

.about .intro {
	flex: 2 1 0;
}

.about a {
	display: flex;
	flex: 1 1 0;
	text-decoration: none;
}

/* Section details des services */
.detailed {
	background-color: var(--grey);
	padding: 2%;
	margin-bottom: 0;
}

.detailed .container {
	padding-left: 20%;
	margin-bottom: 0;
}

.detailed .container ul {
	padding-left: 20px;
}

.detailed .container ul li {
	list-style-type: disc;
	line-height: 1.5;
}


/* CARTES (ACCUEIL - SERVICES)
/* ========================================================================== */

.card {
	position: relative;
	width: 33%;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	padding: 2rem;
	background-color: var(--white);
	box-shadow: 0 5px 19px rgba(var(--shadow-color), 0.2);
}

.card:hover {
	box-shadow: 0 5px 19px rgba(var(--shadow-color), 0.4);
}

.card a {
	color: var(--black);
}

.card a:hover {
	color: var(--color-2);
}

/* Card Inner Content */
.services .card .inner {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.about .card {
	position: relative;
	justify-content: flex-end;
	padding: 0;
	width: 100%;
	transition: all;
}

.about .card .inner {
	position: relative;
	font-size: 1.25rem;
	background-color: #fff;
	color: var(--color-1);
	height: 150px;
	padding: 1% 5%;
}

.about a:hover .inner {
	background-color: var(--color-3);
}

.about a:hover .inner p,
.about a:hover .inner span {
	color: var(--white);
}

.card .inner a.button {
	margin-top: auto;
}

/* BOUTONS
/* ========================================================================== */

a.button {
	position: relative;
	display: inline-block;
	width: fit-content;
	padding: 1rem 2rem;
	margin-top: 1rem;
	border-radius: 30px;
	background-color: var(--color-1);
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	text-align: left;
	transition: background-color 0.5s ease-in-out;

}


a.button::before {
	content: '+ ';
	padding-right: 0.5rem;

}

a.button:hover {
	background-color: var(--color-3);
	color: var(--color-1);
}

.hero a.button {
	width: fit-content;
	background-color: transparent;
	border: solid 1px var(--white);
	margin: 0.5rem;
}

.hero a.button:hover {
	background-color: var(--color-3);
	color: var(--color-1);
}

.detailed a.button {
	max-width: 250px;
	align-self: self-end;
}

/* IMAGES
/* ========================================================================== */
.blob {
	width: 600px;
	height: 500px;
	object-fit: cover;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	transition: border-radius 0.5s ease;
}




.blob:hover {
	border-radius: 30% 70% 70% 30% / 50% 60% 40% 50%;
}

.image-placeholder {
	position: relative;
	overflow: hidden;
}

article .image-placeholder {
	flex: 1;
	border-radius: 10px;
	min-width: 350px;
}

article .image-placeholder img {
	flex: 1;
	height: 100%;
	transition: transform 0.4s ease;
}

.rounded-picture {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}


.rounded-picture img,
.image-placeholder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.4s ease;
	z-index: 0;
}

.rounded-picture:hover img,
.image-placeholder:hover img {
	transform: scale(1.5);
}


.avatar img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
	border: var(--color-2) solid 2px;
}

video {
	width: 100%;
	height: auto;
}

/***/
.gallery {

	background-color: #f37721;
}

ul.img-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 0;
	list-style-type: none;
	grid-auto-flow: dense;
}

.img-list img {
	width: 100%;
	border-radius: 0px 0px;
	transition: border-radius 0.5s ease, transform 0.5s ease-in;
}

.img-list img:hover {
	transform: scale(1.1);
	border-radius: 0px 30px;

}

.img-list li:nth-child(3) {
	grid-column: span 2;
	grid-row: span 2;
}

.img-list li:nth-child(4) {
	grid-column: span 2;
	grid-row: span 2;
}



/* FLEXBOX À RÉUTILISER
/* ========================================================================== */

/* En ligne */
.flex-row {

	display: flex;
	flex-direction: row;
	gap: 10px;

}

/* En colonne */
.flex-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Espace entre les blocs et centrage vertical */
.flex-space-a {
	flex: 1;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

/* Blocs au départ et centrage vertical */
.flex-space-b {
	justify-content: flex-start;
	align-items: center;

}

/* Espace entre les blocs et blocs au déaprt */
.flex-space-c {
	justify-content: space-between;
	align-items: flex-start;
}

/* Blocs centrés et au départ */
.flex-space-d {
	justify-content: center;
	align-items: flex-start;
}

/* Espace entre les blocs et occupation de tout l'espace */
.flex-space-e {
	justify-content: space-between;
	align-items: stretch;
}


/* NAVIGATION ASIDE (SOUS PAGES SERVICES)
/* ========================================================================== */

aside {
	min-width: 20%;
}

aside a {
	display: block;
	color: var(--color-1);
	text-decoration: none;
}

aside ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

aside ul li {
	display: block;
	text-decoration: none;
	border-top: 1px solid var(--color-1);
}

aside ul li a {
	display: block;
	padding: 20px;
}

aside ul li:hover {
	background-color: var(--color-1);
}

aside ul li:hover a {
	color: var(--white);
}

/* Titre SERVICES dans la colonne de gauche */
.col-1 p {
	color: var(--color-2);
	font-size: 1.25rem;
	text-transform: uppercase;
}

.col-1 p::before {
	content: '→  ';
	margin-left: 15px;
}

/* LISTES
/* ========================================================================== */

ul.sup li {
	border-bottom: var(--color-2) 1px solid;
	padding: 2%;
	display: flex;
	align-items: center;
	gap: 40px;
}

/* Ißcônes dan sles pages détails */
ul.sup li img {
	max-height: 50px;
}

/* TABLEAUX
/* ========================================================================== */

table {
	border-collapse: collapse;
	border-radius: 12px;
}

td,
th {
	width: 28%;
	padding: 10px 20px;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: top;
	border-left: 1px solid var(--color-1);
	border: var(--white) 1px solid;
	border-radius: 12px;
}

td:first-child,
th:first-child {
	width: 5%;
	text-align: center;
}

thead th,
.price {
	font-family: "DM Serif Display", serif;
	font-size: 1.8rem;
	font-weight: 400;
	font-style: normal;
}

.price span {
	font-size: 0.8rem;
	text-transform: lowercase;
}

th {
	background-color: rgba(var(--grey-2), 0.6);
	font-size: 1.1rem;
}

tbody th {
	background-color: rgba(var(--grey-2), 0.6);
	font-size: 1.2rem;
}

tbody td {
	background-color: rgba(var(--grey-2), 0.4);
	font-size: 1rem;
}

tfoot td,
td.darker {
	background-color: rgba(var(--grey-2), 1);
	font-size: 1.1rem;
}

.noshow {
	background-color: var(--white);
	border: none;
}

/* TÉMOIGNAGES CLIENTS 
/* ========================================================================== */

.testimony {
	background-color: var(--color-2);
	padding: 5%;
	border-radius: 5px;
}

.testimony .content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;

}

.testimony .card {
	border: var(--color-3) solid 2px;
	width: 100%;

}

.testimony h2,
.testimony h3 {
	color: var(--color-3);
	margin-bottom: 0.5rem;
}

.stars {
	color: var(--color-1);
	font-size: 1.2rem;
	margin: 1rem 0 0;
}


.testimony span {
	display: block;
	text-align: left;
	font-weight: 700;
	color: var(--color-2);
}

/* CONTACT & CARTE GOOGLE
/* ========================================================================== */

.contact .flex-row * {
	flex: 1;
	color: var(--white);
}

.contact h2 {
	margin-bottom: 0
}

.contact p {
	font-size: 1.25rem;
	line-height: 1;
	margin-bottom: 0
}

/* Contact */
.contact {
	background-color: var(--color-2);
}

.contact a:hover {
	text-decoration: underline;
	color: var(--color-1);
}


.map-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.map-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.info p {
	font-size: 1.25rem;
	line-height: 1;
	margin: 15px;
}

div.icon {
	width: 40px;
	height: 40px;
	background-color: var(--white);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.icon img {
	width: 25px;
	height: 25px;
}