@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Londrina+Solid:wght@100;300;400;900&family=Rampart+One&family=Slackey&display=swap');


* {
	box-sizing: border-box;

}

:root {
	--black: #1b1212;
	--color-1: #f37721;
	--color-2: #068646;
	--color-3: #f3d2ae;
	--color-4: #f2e8de;
	--color-5: #12b162;
	--white: #fff;
	--grey-2: 231, 239, 242;
}

html {
	font-size: 16px;
	font-family: "Inter Tight", sans-serif;
	color: var(--black);
}


/* On enlève les bullets */
ul {
	list-style: none;
	padding-left: 0;
}

/* On enlève le style italique */
address {
	font-style: normal;
}


/* TYPOGRAPHIES
/* ========================================================================== */

h1,
h2,
h3,
h4 {
	font-family: "Londrina Solid", serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 10px;
}

/* Ligne sous titres sauf sur la page d'accueil */
h1:not(.hero div h1)::after {
	content: '';
	display: block;
	width: 80px;
	height: 10px;
	background-color: var(--white);
	margin-top: 15px;
}

h1 {
	font-size: 4rem;
	color: var(--white);
}

h2 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--color-3);
}


/* CONTENEURS
/* ========================================================================== */

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 3%;
	border-left: #068646 1px solid;
	border-right: #068646 1px solid;
}


/* EN-TËTES & NAVIGATION
/* ========================================================================== */

/*Navigation responsive*/
nav .toggle {
	display: none;
}

li.hamburger {
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 1rem;

}

.hamburger span,
.hamburger span::after,
.hamburger span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: var(--color-2)
}

.hamburger span {
	top: 50%;
}

.hamburger span::before {
	top: 10px;
}

.hamburger span::after {
	top: -10px;
}



nav ul li {
	padding: 10px;

}

/* Navigation desktop*/
nav ul li a {
	display: block;
	color: var(--color-1);
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 30px;
	background: var(--white);
	padding: 1rem;
	transition: background-color 0.5s ease-in-out;

}

nav ul li:last-child a {
	border-radius: 30px;
	border: var(--color-1) 1px solid;
}

nav ul li a:hover {
	border-radius: 30px;
	background: var(--color-1);
	color: var(--white);

}

.active {
	border-radius: 30px;
	background: var(--color-1);
	color: var(--white);

}


/* PIED DE PAGE
/* ========================================================================== */

footer {
	margin: 0;
	background: var(--color-2);
}

footer .container {
	padding: 5% 1%;
	color: var(--white);
	font-size: 18px;
}

footer a {
	font-weight: bold;
	color: var(--white);
}

footer .container>ul:nth-child(1),
footer ul:nth-child(2) {
	padding: 2rem 0;
}

footer ul:nth-child(2) {
	border-top: solid 2px var(--white);

}

/* SECTIONS
/* ========================================================================== */
section {
	width: 100%;
}

/* Section hero */
section.hero {
	background-color: var(--color-1);
	height: auto;
}

section.hero .container {
	height: 100%;
	color: white;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.hero div h1 {
	font-size: 4rem;
	margin: 10px 0 10px 0;
}

.hero p {
	margin-bottom: 2rem
}

/**section menu*/

.menu .content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;

}

.menu .card {
	border: 2px solid var(--color-5);
}

.menu p.price {
	font-family: "Londrina Solid", serif;
	font-size: 3rem;
	text-align: center;
	font-weight: 400;
	font-style: normal;
}

/* BOUTONS
/* ========================================================================== */

a.button,
a.button-2 {
	position: relative;
	display: inline-block;
	width: fit-content;
	padding: 1rem 2rem;
	border-radius: 30px;
	background-color: var(--color-1);
	border: solid 1px var(--white);
	margin: 0.5rem 0 1rem;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	text-align: left;
	transition: background-color 0.5s ease-in-out;
}

a.button-2 {
	background-color: var(--color-3);
	color: var(--color-1);
	transition: background-color 0.5s ease-in-out;
}

a.button::before,
a.button-2::before {
	content: '+ ';
	padding-right: 0.5rem;
}

a.button:hover {
	background-color: var(--color-3);
	color: var(--color-1);
}

a.button-2:hover {
	background-color: var(--color-1);
	color: var(--white);
}


/* CARDS
/* ========================================================================== */

.card {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	padding: 2rem;
	background-color: var(--white);
	box-shadow: 0 5px 19px rgba(var(--shadow-color), 0.2);
}

.card:hover {
	box-shadow: 0 5px 19px rgba(var(--shadow-color), 0.4);
}

.card a {
	color: var(--black);
}

.card a:hover {
	color: var(--color-2);
}

/* TÉMOIGNAGES CLIENTS 
/* ========================================================================== */

.testimony {
	background-color: var(--color-2);
	border-radius: 5px;
}

.testimony .content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;

}

.testimony .card {
	border: var(--color-3) solid 2px;

}

.testimony h2,
.testimony h3 {
	color: var(--color-3);
}

.stars {
	color: var(--color-1);
	font-size: 1.2rem;
	margin: 1rem 0 0;
}

.testimony span {
	display: block;
	text-align: left;
	font-weight: 700;
	color: var(--color-2);
}


/* IMAGES
/* ========================================================================== */

/*ref Freefrontend*/
.blob {
	width: 550px;
	height: 480px;
	object-fit: cover;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	transition: border-radius 0.5s ease;
}

.blob:hover {
	border-radius: 30% 70% 70% 30% / 50% 60% 40% 50%;
}

.image-placeholder {
	position: relative;
	overflow: hidden;
}

article .image-placeholder {
	flex: 1;
	border-radius: 10px;
	min-width: 350px;
}

article .image-placeholder img {
	flex: 1;
	height: 100%;
	transition: transform 0.4s ease;
}

.rounded-picture {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.rounded-picture img,
.image-placeholder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.4s ease;
	z-index: 0;
}

.rounded-picture:hover img,
.image-placeholder:hover img {
	transform: scale(1.5);
}

.avatar img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
	border: var(--color-2) solid 2px;
}

video {
	width: 100%;
	height: auto;
}

/*Galerie photos dans restaurant*/
.gallery {
	background-color: var(--color-1);
}

ul.img-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 0;
	list-style-type: none;
	grid-auto-flow: dense;
}

.img-list img {
	width: 100%;
	border-radius: 0px 0px;
	transition: border-radius 0.5s ease, transform 0.5s ease-in;
}

.img-list img:hover {
	transform: scale(1.1);
	border-radius: 0px 30px;
}

.img-list li:nth-child(3) {
	grid-column: span 2;
	grid-row: span 2;
}

.img-list li:nth-child(4) {
	grid-column: span 2;
	grid-row: span 2;
}


/* Réseaux sociaux*/
a svg {
	width: 38px;
	transition: transform 0.2s ease-in;
}

a svg:hover {
	transform: scale(1.2);
}

.cls-1 {
	fill: var(--white);
}

.cls-2 {
	fill: var(--color-2)
}


/* FLEXBOX À RÉUTILISER
/* ========================================================================== */

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.flex-between {
	flex: 1;
	justify-content: space-between;
	align-items: center;

}

.flex-vertical-center {
	align-items: center;
}

.flex-between-vertical-center {
	justify-content: space-between;
	align-items: stretch;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2
}

.gap-10 {
	gap: 10px;
}

.gap-20 {
	gap: 20px;
}

.gap-40 {
	gap: 40px;
}



/* COMMANDE + TABLEAUX
/* ========================================================================== */
section.commande {
	background-color: var(--color-3);
}

section.commande .details {
	width: 60%;
}

section.commande aside {
	width: 40%;
}

table {
	width: 100%;
	background-color: var(--white);
	border-collapse: collapse;
	border-radius: 12px;
	margin: 2rem 0px;
	padding: 1rem;
}

aside table {
	background-color: var(--color-4);
}

thead th {
	text-align: left;
	font-size: 1.5rem;
	background-color: none;
}

.details tr:nth-child(2n) {
	background-color: var(--color-4)
}

.details tr:last-child td:first-child {
	border-bottom-left-radius: 12px;
}

.details tr:last-child td:last-child {
	border-bottom-right-radius: 12px;
}

th,
td {
	text-align: left;
	padding: 1.5rem;
}

aside hr {
	height: 2px;
	background-color: var(--black);
}


/* RESERVATION FORM
/* ========================================================================== */

section.reservation {
	background-color: var(--color-2);
}

fieldset {
	background-color: var(--white);
	flex: 1;
	border-radius: 12px;
	padding: 2rem;
	border: 1px solid var(--color-3);
}

fieldset h2 {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

label {
	display: block;
	padding: 1rem;
}

input,
textarea,
select {
	width: 100%;
	min-width: 20px;
	border: 2px solid var(--color-2);
	border-radius: 10px;
	padding-left: 1rem;
}

input,
select {
	height: 40px;
}

input[type=checkbox] {
	appearance: none;
	-webkit-appearance: none;
	width: 40px;
	height: 20px;
	border: 2px solid var(--color-2);
	border-radius: 20px;
	position: relative;
	transition: all 0.3s ease;
	background-color: transparent;
	margin-right: 10px;

}

/* Le boutton toogle source W#C School*/
input[type=checkbox]::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	background-color: var(--color-2);
	border-radius: 50%;
	transition: transform 0.3s ease, background-color 0.3s ease;
}


input[type=checkbox]:checked {
	background-color: var(--color-5);
	border-color: var(--color-5);

}

input[type=checkbox]:checked::before {
	transform: translateX(20px);
	background-color: var(--white)
}

input:focus,
textarea:focus,
select:focus {
	transform: scale(1.05);
	border: 2px solid var(--color-1);
	outline: none;
	transition: all 0.3s ease;
}

button[type="submit"] {
	width: 100%;
	display: inline-block;
	padding: 1rem 2rem;
	margin-top: 1rem;
	border-radius: 30px;
	background-color: var(--color-2);
	border: 2px solid var(--color-2);
	color: var(--white);
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out;
}

button[type="submit"]:hover {
	background-color: var(--color-1);
	color: var(--white);
}


/* CONTACT & CARTE GOOGLE
/* ========================================================================== */

/* Contact */
.contact {
	background-color: var(--color-2);
}

address h2 {
	margin-bottom: 0
}

address p {
	font-size: 1.25rem;
	line-height: 1.25;

}

address h2,
address p,
address a {
	color: var(--white);
}

address a:hover {
	color: var(--color-3);
}

.map-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.map-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* RESPONSIVE
/*==================================================== */
@media screen and (max-width: 960px) {

	nav .toggle {
		display: block
	}

	.navigation {
		display: none;
	}

	/* Contenu du hero*/
	section.hero .container {
		grid-template-columns: repeat(2, 50%);
	}

	/* Image du hero*/
	.blob {
		width: 380px;
	}

	/* Contenu du témoignages*/
	.testimony .content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	a.button,
	a.button-2 {
		width: 300px;
	}

	/* Galerie photos*/
	ul.img-list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding: 0;
		list-style-type: none;
		grid-auto-flow: dense;
	}

	/* # Flex*/
	.contact .flex,
	form.flex,
	.commande .flex {

		flex-direction: column;
	}

}

@media screen and (max-width: 570px) {


	/* Contenu du hero*/
	section.hero .container {
		grid-template-columns: 1fr;
	}

	/* Image du hero*/
	.blob {
		display: none;
	}

	/* Contenu menu*/
	.menu .content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

	}

	/* Contenu du témoignages*/
	.testimony .content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	footer .flex:not(.social-networks.flex) {

		flex-direction: column;
	}

	/* Tableaux*/
	section.commande .details,
	section.commande aside {
		width: 100%;
	}

	thead th {

		font-size: 1.25rem;

	}

}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 2.5rem;
		color: var(--white);
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	h3 {
		font-size: 1.25rem;
		margin-top: 0;
		margin-bottom: 2rem;
	}


}