@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Londrina+Solid:wght@100;300;400;900&family=Rampart+One&family=Slackey&display=swap');


* {
	box-sizing: border-box;
}

:root {
	--black: #1b1212;
	--color-1: #f37721;
	--color-2: #068646;
	--color-3: #f3d2ae;
	--color-4: #f2e8de;
	--white: #fff;
	--grey-2: 231, 239, 242;
}

html {
	font-size: 16px;
	font-family: "Inter Tight", sans-serif;
	color: var(--black);
}


/* On enlève les bullets */
ul {
	list-style: none;
	padding-left: 0;
}

/* On enlève le style italique */
address {
	font-style: normal;
}


/* TYPOGRAPHIES
/* ========================================================================== */

h1,
h2,
h3,
h4 {
	font-family: "Londrina Solid", serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 10px;
}

/* Ligne sous titres sauf sur la page d'accueil */
h1:not(.hero div h1)::after {
	content: '';
	display: block;
	width: 80px;
	height: 10px;
	background-color: var(--color-3);
	margin-top: 15px;
}

h1 {
	font-size: 4rem;
	color: var(--white);
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--color-3);
}


/* CONTENEURS
/* ========================================================================== */

.container {
	width: 90%;
	max-width: 1200px;
	padding: 1%;
	margin: 0 auto;
}

footer .container,
main .container {
	padding: 5% 1%;
}

footer a {
	color: var(--color-3);
}

/* EN-TËTES & NAVIGATION
/* ========================================================================== */

nav ul li {
	padding: 10px;
	display: block;
}

nav ul li a {
	color: var(--color-1);
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 30px;
	background: var(--white);
	padding: 1rem;
	transition: background-color 0.5s ease-in-out;

}

nav ul li:last-child a {
	border-radius: 30px;
	border: var(--color-1) 1px solid;
}

nav ul li a:hover {
	border-radius: 30px;
	background: var(--color-1);

}

.active {
	border-radius: 30px;
	background: var(--color-1);
	color: var(--white);

}



/* PIED DE PAGE
/* ========================================================================== */

footer {
	margin: 0;
	background: var(--color-2);
}

footer .container {
	padding: 5% 1%;
	color: var(--white);
	font-size: 18px;
}

.icon {
	width: 48px;
	background-color: red;
}

/* SECTIONS
/* ========================================================================== */

/* Section hero */
section.hero {
	background-color: var(--color-1);

	height: 90vh;
}

section.hero .container {
	height: 100%;
	color: white;
	display: grid;
	align-items: center;
	grid-template-columns: 60% 40%;
	gap: 2rem;

}

.hero div h1 {
	font-size: 5.5rem;
	margin: 10px 0 10px 0;
}


/**section menu*/

.menu p.price {
	font-family: "Londrina Solid", serif;
	font-size: 3rem;
	text-align: center;
	font-weight: 400;
	font-style: normal;
}


/* ACCUEIL
/* ========================================================================== */

.card {
	position: relative;
	width: 33%;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	padding: 2rem;
	background-color: var(--white);
	box-shadow: 0 5px 19px rgba(var(--shadow-color), 0.2);
}

.card:hover {
	box-shadow: 0 5px 19px rgba(var(--shadow-color), 0.4);
}

.card a {
	color: var(--black);
}

.card a:hover {
	color: var(--color-2);
}


/* BOUTONS
/* ========================================================================== */

a.button {
	position: relative;
	display: inline-block;
	width: fit-content;
	padding: 1rem 2rem;
	margin-top: 1rem;
	border-radius: 30px;
	background-color: var(--color-1);
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	text-align: left;
	transition: background-color 0.5s ease-in-out;

}


a.button::before {
	content: '+ ';
	padding-right: 0.5rem;

}

a.button:hover {
	background-color: var(--color-3);
	color: var(--color-1);
}

.hero a.button {
	width: fit-content;
	background-color: transparent;
	border: solid 1px var(--white);
	margin: 0.5rem;
}

.hero a.button:hover {
	background-color: var(--color-3);
	color: var(--color-1);
}


/* IMAGES
/* ========================================================================== */
.blob {
	width: 600px;
	height: 500px;
	object-fit: cover;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	transition: border-radius 0.5s ease;
}

.blob:hover {
	border-radius: 30% 70% 70% 30% / 50% 60% 40% 50%;
}

.image-placeholder {
	position: relative;
	overflow: hidden;
}

article .image-placeholder {
	flex: 1;
	border-radius: 10px;
	min-width: 350px;
}

article .image-placeholder img {
	flex: 1;
	height: 100%;
	transition: transform 0.4s ease;
}

.rounded-picture {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.rounded-picture img,
.image-placeholder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.4s ease;
	z-index: 0;
}

.rounded-picture:hover img,
.image-placeholder:hover img {
	transform: scale(1.5);
}

.avatar img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
	border: var(--color-2) solid 2px;
}

video {
	width: 100%;
	height: auto;
}

/*Galerie photos dans restaurant*/
.gallery {
	background-color: var(--color-1);
}

ul.img-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 0;
	list-style-type: none;
	grid-auto-flow: dense;
}

.img-list img {
	width: 100%;
	border-radius: 0px 0px;
	transition: border-radius 0.5s ease, transform 0.5s ease-in;
}

.img-list img:hover {
	transform: scale(1.1);
	border-radius: 0px 30px;
}

.img-list li:nth-child(3) {
	grid-column: span 2;
	grid-row: span 2;
}

.img-list li:nth-child(4) {
	grid-column: span 2;
	grid-row: span 2;
}


/* FLEXBOX À RÉUTILISER
/* ========================================================================== */

/* En ligne */
.flex-row {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

/* En colonne */
.flex-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Espace entre les blocs et centrage vertical */
.flex-space-a {
	flex: 1;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

/* Blocs au départ et centrage vertical */
.flex-space-b {
	justify-content: flex-start;
	align-items: center;

}

/* Espace entre les blocs et blocs au déaprt */
.flex-space-c {
	justify-content: space-between;
	align-items: flex-start;
}

/* Blocs centrés et au départ */
.flex-space-d {
	justify-content: center;
	align-items: flex-start;
}

/* Espace entre les blocs et occupation de tout l'espace */
.flex-space-e {
	justify-content: space-between;
	align-items: stretch;
}

.row-reverse {
	flex-direction: row-reverse;
}


/* LISTES
/* ========================================================================== */

ul.sup li {
	border-bottom: var(--color-2) 1px solid;
	padding: 2%;
	display: flex;
	align-items: center;
	gap: 40px;
}



/* COMMANDE + TABLEAUX
/* ========================================================================== */
section.commande {
	background-color: var(--color-3);
}

section.commande .details {
	width: 60%;
}

section.commande aside {
	width: 30%;
}

table {
	width: 100%;
	background-color: var(--white);
	border-collapse: collapse;
	border-radius: 12px;
	margin: 2rem 0px;
	padding: 1rem;
}

aside table {
	background-color: var(--color-4);
}

thead th {
	text-align: left;
	font-size: 1.5rem;
	background-color: none;
}

.details tr:nth-child(2n) {
	background-color: var(--color-4)
}

th,
td {
	text-align: left;
	padding: 1rem;
}

/* RESERVATION FORM
/* ========================================================================== */

section.reservation {
	background-color: var(--color-2);
}

form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
}

fieldset {
	background-color: var(--white);
	flex: 1;
	border-radius: 12px;
	padding: 2rem;
	margin: 2rem 0;
}

fieldset legend {
	padding-top: 3rem;
	font-size: 2rem;
}

label {
	display: block;
	width: 100%;
	padding: 1rem;
}

input {
	width: 100%;
	border-radius: 12px;
	min-height: 50px;
}


/* TÉMOIGNAGES CLIENTS 
/* ========================================================================== */

.testimony {
	background-color: var(--color-2);
	padding: 5%;
	border-radius: 5px;
}

.testimony .content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;

}

.testimony .card {
	border: var(--color-3) solid 2px;
	width: 100%;

}

.testimony h2,
.testimony h3 {
	color: var(--color-3);
	margin-bottom: 0.5rem;
}

.stars {
	color: var(--color-1);
	font-size: 1.2rem;
	margin: 1rem 0 0;
}


.testimony span {
	display: block;
	text-align: left;
	font-weight: 700;
	color: var(--color-2);
}

/* CONTACT & CARTE GOOGLE
/* ========================================================================== */

.contact .flex-row * {
	flex: 1;
	color: var(--white);
}

.contact h2 {
	margin-bottom: 0
}

.contact p {
	font-size: 1.25rem;
	line-height: 1;
	margin-bottom: 0
}

/* Contact */
.contact {
	background-color: var(--color-2);
}

.contact a:hover {
	text-decoration: underline;
	color: var(--color-1);
}


.map-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.map-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}